<md-toolbar color="primary">
  {{ title }}
</md-toolbar>

<div fxLayout="row">
  <div fxFlex fxLayout="column">
    <md-card class="mad">
      <app-canvas></app-canvas>
    </md-card>

    <md-card class="mad">
      <md-tab-group>
        <md-tab label="Raw Data">

          <app-data-table [data]="dataItems$ | async"></app-data-table>

        </md-tab>
        <md-tab label="Graph">

        </md-tab>
      </md-tab-group>
    </md-card>
  </div>
  <div fxFlex="25" fxLayout="column">
    <md-card class="options-panel mad">
      <button md-raised-button color="warn" (click)="clear()">Clear</button>
    </md-card>
    <md-card class="options-panel mad">
      <form [formGroup]="optionsForm" (ngSubmit)="setOptions()">
        <div formGroupName="x">
          <md-input-container>
            <input mdInput formControlName="min" placeholder="Min X" type="number" />
          </md-input-container>
          <md-input-container>
            <input mdInput formControlName="max" placeholder="Max X" type="number" />
          </md-input-container>
          <md-input-container>
            <input mdInput formControlName="ticks" placeholder="Ticks X" type="number" />
          </md-input-container>
        </div>

        <div formGroupName="y">
          <md-input-container>
            <input mdInput formControlName="min" placeholder="Min Y" type="number" />
          </md-input-container>
          <md-input-container>
            <input mdInput formControlName="max" placeholder="Max Y" type="number" />
          </md-input-container>
          <md-input-container>
            <input mdInput formControlName="ticks" placeholder="Ticks Y" type="number" />
          </md-input-container>
        </div>

        <button type="submit" md-raised-button color="primary">Clear & Update</button>
      </form>
    </md-card>
  </div>
</div>
