<md-toolbar color="primary">
  {{ title }}
</md-toolbar>

<div fxLayout="row">
  <div fxFlex fxLayout="column">
    <md-card class="mad">
      <app-canvas></app-canvas>
    </md-card>

    <md-card class="mad">
      <md-tab-group>
        <md-tab label="Graph">
          <app-graph [data]="dataItems$ | async"></app-graph>
        </md-tab>
        <md-tab label="Raw Data">
          <app-data-table [data]="dataItems$ | async"></app-data-table>
        </md-tab>
      </md-tab-group>
    </md-card>
  </div>
  <div fxFlex="25" fxLayout="column">
    <md-card class="options-panel mad">
      <button md-raised-button color="warn" (click)="clear()">Clear</button>
    </md-card>
    <md-card class="options-panel mad">
      <!-- Graph Options Panel -->
      <app-options
        [options]="options$ | async"
        (onOptionsUpdated)="setOptions($event)">
      </app-options>
    </md-card>
    <md-card class="options-panel mad">
      <!-- Export Panel -->
      <app-exporter [data]="dataItems$ | async"></app-exporter>
    </md-card>
  </div>
</div>
